<% include ../header %>
<script>
	function homeApplyList(){
		$('#main').load('/admin/adminapply');
	}
</script>
<div class="row" style='height: 700px'>
      <div class="col-xs-1 col-sm-1 col-md-1">
      </div>

      <div class="col-xs-2 col-sm-2 col-md-2" style='background:yellow;height:700px'>
      	<table height='100%' align='center'>
      		<tr><td>账户管理</td></tr>
      		<tr><td><a href='#' onclick='homeApplyList()'>用户申请列表</a></td></tr>
      		<tr><td><a href="">单位申请列表</a></td></tr>
      		<tr><td>项目管理</td></tr>
      		<tr><td>客户管理</td></tr>
      	</table>
      </div>
         
      <div id='main' class="col-xs-8 col-sm-8 col-md-8" style='border: 1px solid green;height:700px'>

      </div>

      <div class="col-xs-1 col-sm-1 col-md-1">
      </div>
</div>
