<div>
	<img src="">
</div>
<% include header %>
<div style="background-image: url(../images/images/center.png);background-size: 100% auto;background-repeat: no-repeat; height:100%;">
<div class="col-xs-1 col-sm-1 col-md-2" style="background:#BBFFEE; ">
	<div><ul class="nav nav-pills nav-stacked">
	<li><a href="">主题市场</a></li>
      <li><a href="">打印机租赁</a></li>
      <li><a href="">工程机械</a></li>
      <li><a href="">钢板桩租赁</a></li>
      <li><a href="">设备租赁</a></li>
      <li><a href="">汽车租赁</a></li>
      <li><a href="">服装租赁</a></li>
      <li><a href="">吊车租赁</a></li>
      <li><a href="">玩具租赁</a></li>
	</ul></div>
</div>
<div class="col-xs-1 col-sm-1 col-md-10">
<div class="col-xs-1 col-sm-1 col-md-6">
<div id="myCarousel" class="carousel slide" style=""> 
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="../images/apply/qq.jpg" alt="First slide">	
		</div>
		<div class="item">
			<img src="../images/apply/qq.jpg" alt="Second slide">
		</div>
		<div class="item">
			<img src="../images/apply/qq.jpg" alt="Third slide">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel" 
	   data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" 
	   data-slide="next">&rsaquo;</a>
</div> 
<div>
	<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#">公司简介</a></li>
	<p class="text-primary">
	华盛租赁有限公司专业从事履带吊出租、租赁 现拥有履带吊车出租50吨‖70吨‖80吨‖100吨‖150吨‖200吨‖250吨‖260吨‖300吨‖350吨‖400吨履带吊。50-350吨汽车吊 常年对全国出租 专业从事 设备吊装、搬迁、钢结构厂房安装、建筑、风力、电力、冶金、石化、桥梁、造船、码头等工程，并拥有一支经验丰富，技术精湛的操作人员队伍。咨询电话：13621251137 刘经理
	衷心希望能和社会各界朋友建立良好业务联系，我们将以低廉的价格、优秀的服务期待与您的合作！

	经营宗旨：安全第一 客户至上，服从安排 随时待命！
		</p>	
</div>
</div>
<div class="col-xs-1 col-sm-1 col-md-4">
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">最新公告</h3>
    </div>
    <div class="panel-body">
    <ul>
 </ul>

    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">精品推荐</h3>
    </div>
    <div class="panel-body" style="background-image: url(../images/images/P_05.jpg);">
       <div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseOne">
					钢管脚手架扣件价格
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<img src="../images/images/P_01.jpg" style="width: 100px;height: 50px">
				<a href="">钢管脚手架扣件价格</a>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                href="#collapseTwo">
                建筑钢管扣件 
            </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
           <img src="../images/images/P_02.jpg" style="width: 100px;height: 50px">
				<a href="">建筑钢管扣件价格</a>
        </div>
        </div>
    </div>
    	<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" 
                href="#collapseThree">
                钢管 扣件租赁费 
            </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
           <img src="../images/images/P_03.jpg" style="width: 100px;height: 50px">
				<a href="">钢管 扣件租赁费</a>
        </div>
        </div>
    </div>



    </div>
 </div>
    </div>
    
    
   <!-----------模态对话框----------------------->
   <div class="modal fade" id="myModal">	
    <div class="modal-dialog">
        <div class="modal-content">  
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->