<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
</div>
<div class="modal-body">
	<!-- -----------------登陆 ----------------- -->
	<form action='/users/login' method='post'>
	<table align='center' height='213px' style='float:left'>
		<tr>
			<td align='right'>email:</td>
			<td><input type="text" class="form-control" placeholder="请输入email" name='email'></td>
		</tr>
		<tr>
			<td align='right'>密码:</td>
			<td><input type="password" class="form-control" placeholder="请输入密码" name='pwd'></td>
		</tr>
		<tr>
			<td colspan='2' align='center'>
				<button type="submit" class="btn btn-primary">登陆</button>
			</td>
		</tr>
	</table>
	</form>
	<form method='post' action='/users/zhuce'>
	<table align='center' height='200px'>
		<tr>
			<td align='right'>email:</td>
			<td><input type="text" class="form-control" placeholder="请输入用户名" name='email'></td>
		</tr>
		<tr>
			<td align='right'>密码:</td>
			<td><input type="password" class="form-control" placeholder="请输入密码" name='pwd'></td>
		</tr>
		<tr>
			<td align='right'>重复密码:</td>
			<td><input type="password" class="form-control" placeholder="请输入密码" name='repwd'></td>
		</tr>
		<tr>
			<td align='right'>昵称:</td>
			<td><input type="text" class="form-control" placeholder="请输入昵称" name='nicheng'></td>
		</tr>
		<tr>
			<td colspan='2' align='center'>
				<button type="submit" class="btn btn-primary">注册</button>
			</td>
		</tr>
	</table>
	</form>
	<!-- ----------------------------注册---------------------------- -->
</div>
<div class="modal-footer" style='text-align:center'>
	
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    
</div>

